<!DOCTYPE html>
<html lang="tr" class="loading">

<!-- Mirrored from pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-4/dashboard1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Dec 2018 11:02:40 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Uluşan Patent - Dashboard</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/img/ico/favicon-32.png">
    <link href="https://cdn.quilljs.com/1.0.5/quill.snow.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/katex.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/quill.bubble.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>

<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">

        <!-- main menu-->
        <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->
        <div data-active-color="white" data-background-color="black" data-image="~/Content/img/sidebar-bg/06.jpg" class="app-sidebar">
            <!-- main menu header-->
            <!-- Sidebar Header starts-->
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="/Home/Index" class="logo-text float-left">
                        <div class="logo-img"><img src="~/Content/img/logo.png" width="200" height="80" /></div>
                    </a>@*<a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-toggle-right toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a>*@
                </div>
            </div>
            <!-- Sidebar Header Ends-->
            <!-- / main menu header-->
            <!-- main menu content-->
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                        @if (User.IsInRole("User"))
                        {
                            <li class=" nav-item">
                                <a href="/Brands/Index"><i class="ft-edit"></i><span data-i18n="" class="menu-title">Tescil & Etiketlerim</span></a>
                            </li>
                            <li class=" nav-item">
                                <a href="/Brands/References"><i class="icon-bag"></i><span data-i18n="" class="menu-title">Başvurularım</span></a>
                            </li>
                            <li class=" nav-item">
                                <a href="/Registration/Index"><i class="ft-book"></i><span data-i18n="" class="menu-title">Lisans Belgelerim</span></a>
                            </li>
                        }


                        @if (User.IsInRole("Admin"))
                        {
                            <li class=" nav-item">
                                <a href="/Brands/Index"><i class="ft-edit"></i><span data-i18n="" class="menu-title">Tescil & Etiketler</span></a>
                            </li>
                            <li class=" nav-item">
                                <a href="/Brands/References"><i class="icon-bag"></i><span data-i18n="" class="menu-title">Başvurular</span></a>
                            </li>
                            <li class=" nav-item">
                                <a href="/Registration/Index"><i class="ft-book"></i><span data-i18n="" class="menu-title">Lisans Belgeler</span></a>
                            </li>
                            <li class="has-sub nav-item">
                                <a href="#"><i class="ft-users"></i><span data-i18n="" class="menu-title">Kullanıcı İşlemleri</span></a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/Account/UserList"><span data-i18n="" class="menu-title">Kullanıcılar</span></a>
                                    </li>

                                    <li>
                                        <a href="/RoleAdmin/Index"><span data-i18n="" class="menu-title">Kullanıcı Yetkileri</span></a>
                                    </li>
                                </ul>
                            </li>
                          
                        }
                    </ul>
                </div>
            </div>
            <!-- main menu content-->
            <div class="sidebar-background"></div>
            <!-- main menu footer-->
            <!-- include includes/menu-footer-->
            <!-- main menu footer-->
        </div>
        <!-- / main menu-->
        <!-- Navbar (Header) Starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded header-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="d-lg-none navbar-right navbar-collapse-toggle"><a aria-controls="navbarSupportedContent" href="javascript:;" class="open-navbar-container black"><i class="ft-more-vertical"></i></a></span>

                </div>

                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item mr-4 d-none d-lg-block">
                                <span class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover">  Hoşgeldin @User.Identity.Name</span>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="dropdown nav-item">
                                    <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
                                        <i class="ft-mail font-medium-3 blue-grey darken-4"></i>
                                    </a>
                                    <div ngbdropdownmenu="" aria-labelledby="dropdownBasic3" class="dropdown-menu text-left dropdown-menu-right">
                                        <a href="/Mail/Create" class="dropdown-item py-1"><i class="ft-users mr-2"></i><span>Mesaj Gönder</span></a>
                                    </div>
                                </li>

                            }

                            <li class="dropdown nav-item">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
                                    <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                                </a>
                                <div ngbdropdownmenu="" aria-labelledby="dropdownBasic3" class="dropdown-menu text-left dropdown-menu-right">
                                    <a href="/Account/Logout" class="dropdown-item py-1"><i class="ft-power mr-2"></i><span>Çıkış Yap</span></a>
                                </div>
                            </li>


                            <li class="nav-item d-none d-lg-block">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar (Header) Ends-->
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Statistics cards Starts-->

                    @RenderBody()

                </div>
            </div>
        </div>

    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- START Notification Sidebar-->
    <!-- END Notification Sidebar-->
    <!-- Theme customizer Starts-->
    @*<div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-sm-none d-md-block">
            <a class="customizer-close"><i class="ft-x font-medium-3"></i></a><a id="rtl-icon" href="https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-6/" target="_blank" class="bg-dark customizer-toggle"><span class="font-medium-1 white align-middle">RTL</span></a><a id="customizer-toggle-icon" class="customizer-toggle bg-danger"><i class="ft-settings font-medium-4 fa fa-spin white align-middle"></i></a>
            <div data-ps-id="df6a5ce4-a175-9172-4402-dabd98fc9c0a" class="customizer-content p-3 ps-container ps-theme-dark">
                <h4 class="text-uppercase mb-0 text-bold-400">Theme Customizer</h4>
                <p>Customize & Preview in Real Time</p>
                <hr>
                <!-- Sidebar Options Starts-->
                <h6 class="text-center text-bold-500 mb-3 text-uppercase">Sidebar Color Options</h6>
                <div class="cz-bg-color">
                    <div class="row p-1">
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="pomegranate" class="gradient-pomegranate d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="king-yna" class="gradient-king-yna d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="ibiza-sunset" class="gradient-ibiza-sunset d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="flickr" class="gradient-flickr d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="purple-bliss" class="gradient-purple-bliss d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="man-of-steel" class="gradient-man-of-steel d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="purple-love" class="gradient-purple-love d-block rounded-circle"></span></div>
                    </div>
                    <div class="row p-1">
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="black" class="bg-black d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="white" class="bg-grey d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="primary" class="bg-primary d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="success" class="bg-success d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="warning" class="bg-warning d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="info" class="bg-info d-block rounded-circle"></span></div>
                        <div class="col"><span style="width:20px; height:20px;" data-bg-color="danger" class="bg-danger d-block rounded-circle"></span></div>
                    </div>
                </div>
                <!-- Sidebar Options Ends-->
                <hr>
                <!-- Sidebar BG Image Starts-->
                <h6 class="text-center text-bold-500 mb-3 text-uppercase">Sidebar Bg Image</h6>
                <div class="cz-bg-image row">
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/01.jpg" width="90" class="rounded"></div>
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/02.jpg" width="90" class="rounded"></div>
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/03.jpg" width="90" class="rounded"></div>
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/04.jpg" width="90" class="rounded"></div>
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/05.jpg" width="90" class="rounded"></div>
                    <div class="col mb-3"><img src="app-assets/img/sidebar-bg/06.jpg" width="90" class="rounded"></div>
                </div>
                <!-- Sidebar BG Image Ends-->
                <hr>
                <!-- Sidebar BG Image Toggle Starts-->
                <div class="togglebutton">
                    <div class="switch">
                        <span>Sidebar Bg Image</span>
                        <div class="float-right">
                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                <input id="sidebar-bg-img" type="checkbox" checked="" class="custom-control-input cz-bg-image-display">
                                <label for="sidebar-bg-img" class="custom-control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar BG Image Toggle Ends-->
                <hr>
                <!-- Compact Menu Starts-->
                <div class="togglebutton">
                    <div class="switch">
                        <span>Compact Menu</span>
                        <div class="float-right">
                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                <input id="cz-compact-menu" type="checkbox" class="custom-control-input cz-compact-menu">
                                <label for="cz-compact-menu" class="custom-control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Compact Menu Ends-->
                <hr>
                <!-- Sidebar Width Starts-->
                <div>
                    <label for="cz-sidebar-width">Sidebar Width</label>
                    <select id="cz-sidebar-width" class="custom-select cz-sidebar-width float-right">
                        <option value="small">Small</option>
                        <option value="medium" selected="">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>
                <!-- Sidebar Width Ends-->
            </div>
        </div>*@
    <!-- Theme customizer Ends-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Content/vendors/js/chartist.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="~/Content/js/app-sidebar.js" type="text/javascript"></script>
    <script src="~/Content/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="~/Content/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Content/js/dashboard1.js" type="text/javascript"></script>
    <script src="https://cdn.quilljs.com/1.0.5/quill.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
</body>
<!-- Mirrored from pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-4/dashboard1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Dec 2018 11:02:40 GMT -->
</html>
