
@{
    ViewBag.Title = "LoginError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info mb-2" role="alert">
    <strong>Sayın Kullanıcı</strong> üyelik süreniz dolmuştur lütfen <strong>Uluşan Patent</strong> ile iletişime geçiniz..
</div>


